# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [2]:
#Your code here
cur.execute('''SELECT e.firstName,e.lastName FROM employees e
                join offices o
                on o.officeCode = e.officeCode
                Where o.city = "Boston"''').fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?

In [26]:
#Your code here
cur.execute('''SELECT o.city, COUNT(e.employeeNumber) AS num_employees FROM offices o
               LEFT JOIN employees e
               on o.officeCode = e.officeCode
               GROUP BY o.city''')

df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
df
# print(len(df))
# print(len(df[df.employeeNumber.isnull()]))
# df[df.employeeNumber.isnull()].head()

            city  num_employees
0         Boston              2
1         London              2
2            NYC              2
3          Paris              5
4  San Francisco              6
5         Sydney              4
6          Tokyo              2

## Write 3 Questions of your own and answer them

In [10]:
#how many customers disputed their orders
# Answers will vary
cur.execute('''SELECT * FROM customers c
                left join orders o
                on c.customerNumber = o.customerNumber
                where o.status = "Disputed"''')

df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
print(len(df))

3

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,145,Danish Wholesale Imports,Petersen,Jytte,31 12 3555,Vinbæltet 34,,Kobenhavn,,1734,Denmark,1401,83400.00,10406,2005-04-15,2005-04-25,2005-04-21,Disputed,Customer claims container with shipment was da...,145
1,471,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,,Glen Waverly,Victoria,3150,Australia,1611,60300.00,10415,2005-05-09,2005-05-20,2005-05-12,Disputed,Customer claims the scales of the models don't...,471
2,141,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",,Madrid,,28034,Spain,1370,227600.00,10417,2005-05-13,2005-05-19,2005-05-19,Disputed,Customer doesn't like the colors and precision...,141

In [29]:
# Your code here
cur.execute('''SELECT * FROM orderdetails o
                left join products p
                on o.productCode = p.productCode''')

df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
# print(len(df))
df
print(len(df[df.productCode.isnull()]))
df[df.productCode.isnull()].head()

ValueError: cannot reindex from a duplicate axis

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [29]:
# Your code here
cur.execute('''
                SELECT p.productName, e.firstName, e.employeeNumber, c.customerNumber FROM products p 
                JOIN orderdetails od ON (p.productCode = od.productCode)
                JOIN orders o ON (o.orderNumber = od.orderNumber)
                JOIN customers c ON (c.customerNumber = o.customerNumber)
                JOIN employees e ON (e.employeeNumber = c.salesRepEmployeeNumber)
            ''')

df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df
len(df)

2996

## Level Up: Display the Number of Products each Employee Has sold

In [31]:
#Your code here
cur.execute('''
                SELECT e.firstName, e.employeeNumber, COUNT(od.orderNumber) FROM products p 
                JOIN orderdetails od ON (p.productCode = od.productCode)
                JOIN orders o ON (o.orderNumber = od.orderNumber)
                JOIN customers c ON (c.customerNumber = o.customerNumber)
                JOIN employees e ON (e.employeeNumber = c.salesRepEmployeeNumber)
                GROUP BY 2
            ''')

df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

   firstName employeeNumber  COUNT(od.orderNumber)
0     Leslie           1165                    331
1     Leslie           1166                    114
2      Julie           1188                    124
3      Steve           1216                    152
4   Foon Yue           1286                    142
5     George           1323                    211
6       Loui           1337                    177
7     Gerard           1370                    396
8     Pamela           1401                    272
9      Larry           1501                    236
10     Barry           1504                    220
11      Andy           1611                    185
12     Peter           1612                    185
13      Mami           1621                    137
14    Martin           1702                    114

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!